<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../partials/head") %>
    <title>Modify Product</title>
    <script
      src="https://kit.fontawesome.com/b42ec8045a.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/6d37a11b52.js"
      crossorigin="anonymous"
    ></script>
    <link href="../../css/home-style.css" rel="stylesheet" />
    <link href="../../css/modifyProduct-style.css" rel="stylesheet" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="container__modifyProducts">
        <form class="edit_product" action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <h3 class="modify_title_article">Editar producto</h3>
          <div class="modify_camp">
            <label for="img">Imágen:</label>
            <input type="file" name="img" id="img" value="<%= product.img %>" />
            <br />
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" value="<%= product.name %>" />
            <br />
            <label for="code">Código de Barra:</label>
            <input type="text" name="code" id="code" value="<%= product.code %>" />
            <br>
            <label for="stock">Stock:</label>
            <input type="number" name="stock" id="stock" value="<%= product.stock %>" />
            <br />
            <label class="description" for="description">Descripción: </label>
            <textarea
              name="description"
              id="description"
              rows="4"
            > <%= product.description %> </textarea>
            <br />
            <label for="elaborationDate">Fecha de Elaboración:</label>
            <input type="text" name="elaborationDate" id="elaborationDate" value="<%= product.elaborationDate %>" />
            <br />
            <label for="expirationDate">Fecha de Expiración:</label>
            <input type="number" name="expirationDate" id="expirationDate" value="<%= product.expirationDate %>" />
            <br />
            <label for="price">Precio:</label>
            <input type="number" name="price" id="price" value="<%= product.price %>" />
            <br />
            <label for="category_id">Categoría:</label>
            <input type="number" name="category_id" id="category_id" value="<%= product.category_id %>" />
            <br />
            <label for="discount_id">Descuento:</label>
            <input type="number" name="discount_id" id="discount_id" value="<%= product.discount_id %>" />
            <br />
            <label for="brand_id">Marca:</label>
            <input type="number" name="brand_id" id="brand_id" value="<%= product.brand_id %>" />
            <br />
          </div>
          <button type="submit" class="save_button">
            <i class="fa-solid fa-floppy-disk"> <strong>Guardar cambios</strong></i>
          </button>
          <a href="/products/<%= product.id %>" class="cancel_button">
            <i class="fa-solid fa-rectangle-xmark"></i> Cancelar cambios y volver
          </a>
        </form>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
