<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../partials/head") %>
    <title>Modify Product</title>
    <script
      src="https://kit.fontawesome.com/b42ec8045a.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/6d37a11b52.js"
      crossorigin="anonymous"
    ></script>
    <link href="../../css/home-style.css" rel="stylesheet" />
    <link href="../../css/modifyProduct-style.css" rel="stylesheet" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="container__modifyProducts">
        <form class="edit_product" action="/products/<%= product.id %>?_method=PUT" method="POST">
          <h3 class="modify_title_article">Editar producto</h3>
          <div class="modify_camp">
            <h4>Imágen:</h4>
            <input type="file" name="img" id="img"/>
          </div>
          <div class="modify_camp">
            <h4>Título</h4>
            <input type="text" name="title" id="title" value="<%= product.title %>">
          </div>
          <div class="modify_camp">
            <h4>Código</h4>
            <input type="text" name="code" id="code" value="<%= product.code %>">
          </div>
          <div class="modify_camp">
            <h4>Marca</h4>
            <input type="text" name="brand" id="brand" value="<%= product.brand %>">
          </div>
          <div class="modify_camp">
            <h4>Característica</h4>
            <input type="text" name="info" id="info" value="<%= product.info %>">
          </div>
          <div class="modify_camp">
            <h4>Peso</h4>
            <input type="text" name="weight" id="weight" value="<%= product.weight %>">
          </div>
          <div class="modify_camp">
            <h4>Precio</h4>
            <input type="text" name="price" id="price" value="<%= product.price %>">
          </div>
          <div class="modify_camp">
            <h4>Oferta</h4>
            <input type="text" name="off" id="off" value="<%= product.off %>">
          </div>
          <div class="modify_camp">
            <h4>Descripción</h4>
            <textarea name="description" id="description"><%= product.description %></textarea>
          </div>
          <button type="submit" class="save_button">
            <i class="fa-solid fa-floppy-disk"> <strong>Guardar cambios</strong></i>
          </button>
        </form>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
