<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detalle de producto</title>
  <%- include("../partials/head") %>
  <script src="https://kit.fontawesome.com/6d37a11b52.js" crossorigin="anonymous"></script>
  <!--Hoja de Estilos para detalle de producto-->
  <link href="../css/productDetail-style.css" rel="stylesheet" />
</head>

<body>
  <%- include("../partials/header") %>
  <main>
    <section>
      <div class="name-page">
        <h2>Detalle del Producto</h2>
      </div>
      <div class="product">
        <div class="product-img">
          <img src="<%= productoBuscado.img %>" width="100%" alt=" " />
        </div>
        <div class="product-details">
          <div class="product-name-details">
            <h3><%= productoBuscado.titulo %></h3>
            <ul>
              <li>
                <p>Marca: <%= productoBuscado.marca %></p>
              </li>
              <li>
                <p>Caracteristicas: <%= productoBuscado.caracteristica %></p>
              </li>
              <li>
                <p>Peso: <%= productoBuscado.peso %> Kg</p>
              </li>
            </ul>
          </div>

          <div class="product-buttons">
            <div class="product-code">
              <h4>Codigo de producto: <%= productoBuscado.code %></h4>
            </div>
            <div class="add-favorite">
              <i class="fa-regular fa-heart" style="color: #d97652"></i>
              <h4>Añadir favorito</h4>
            </div>
            <div class="cant">
              <div class="icons-math">
                <button>
                  <i class="fa-solid fa-minus cart-minus-btn"></i>
                </button>
              </div>
              <h3>1</h3>
              <div class="icons-math">
                <button>
                  <i class="fa-solid fa-plus cart-plus-btn"></i>
                </button>
              </div>
            </div>
            <div class="add-product">
              <i class="fa-solid fa-cart-plus" style="color: #d97652"></i>
              <h4>Agregar al carrito</h4>
            </div>
          </div>
          <div class="product-price">
            <h3>$<%= productoBuscado.precio %></h3>
          </div>
          <div class="product-description">
            <h3>Descripción:</h3>
            <p>
              <%= productoBuscado.descripcion %>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include("../partials/footer") %>
</body>

</html>