<header>
  <div class="container-logo-cart-user">
    <button class="home__hamburguer" id="menuButton">
      <i class="fa-solid fa-bars"></i>
    </button>
    <a href="/"><img src="/img/logo2.png" alt="logo" /></a>
    <button class="cart">
      <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
    </button>
    <% if (userLogged===undefined || userLogged===null || userLogged===false) { %>
      <div class="dropdown">
        <button class="login">
          <i class="fa-solid fa-circle-user"></i>
          <span>UserName</span>
          <i class="fa-solid fa-angle-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/users/register">Registrarse</a>
          <a href="/users/login">Iniciar Sesión</a>
        </div>
      </div>
      <% } else { %>
        <div class="dropdown">
          <button class="login">
            <i class="fa-solid fa-circle-user"></i>
            <span>
              <%= userLogged.name %>
            </span>
            <i class="fa-solid fa-angle-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/users/<%= userLogged.id %>/profile">Mi Perfil</a>
            <a href="/users/<%= userLogged.id %>/logout">Cerrar Sesión</a>
          </div>
        </div>
        <% } %>
  </div>
  <div class="search-bar">
    <form action="/products/search" method="GET">
      <input type="search" name="term" id="term" placeholder="Buscar productos">
      <button class="" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</header>
<nav class="home__navbar">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/products">Tienda</a></li>
    <li><a href="/products/allOffers">Promociones</a></li>
    <li><a href="/stores">Sucursales</a></li>
    <li><a href="/contactUs">Contáctanos</a></li>
  </ul>
</nav>

<!-- MENU BURGUER -->
<div class="mobile-menu" id="mobileMenu">
  <div class="user-info">
    <% if (userLogged===undefined || userLogged===null || userLogged===false) { %>
      <a href="/users/register">Registrarse</a>
      <a href="/users/login">Iniciar Sesión</a>
    <% } else { %>
      <span>¡ Hola, <br> <%= userLogged.name %> !</span>
      <a href="/users/<%= userLogged.id %>/profile">Mi Perfil</a>
      <a href="/users/<%= userLogged.id %>/logout">Cerrar Sesión</a>
    <% } %>
  </div>
  <hr>
  <nav class="home__navbarBurguer">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/products">Tienda</a></li>
      <li><a href="/products/allOffers">Promociones</a></li>
      <li><a href="/stores">Sucursales</a></li>
      <li><a href="/contactUs">Contáctanos</a></li>
    </ul>
  </nav>
</div>

<script src="/js/header.js"></script>