<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include("../partials/head") %>
    <title>Profile</title>
    <script src="https://kit.fontawesome.com/6d37a11b52.js" crossorigin="anonymous"></script>
    <!--Hoja de Estilo para Profile-->
    <link href="../css/profile-style.css" rel="stylesheet" />
</head>

<body>
  <%- include("../partials/header") %>
    <main class="profile-main">
      <div class="profile-container">
        <h1>Perfil de <%= user.name %></h1>
        <p>Email: <%= user.email %></p>
        <p>Número de Teléfono: <%= user.phoneNumber %></p>
        <p>Foto de Perfil: <%= user.profilePicture %></p>
      </div>
    </main>
    <h4>Foto de Perfil</h4>
    <img src="<%= user.profilePicture %>" width="100%" text-align="center" alt="foto-usuario"/>
    <%- include("../partials/footer") %>
</body>

</html>